.nothing-found__container {
  width: 100%;
  min-height: 240px;
  background-color:  #F5F6F7;
  display: flex;
  align-items: center;
}

.nothing-found__title {
  color: #1a1b22;
  font: 400 40px/46px 'Roboto Slab';
  margin: 0 auto;
  width: calc(100% - 104px * 2);
  padding: 20px 0;
}

@media screen and (max-width: 1050px) {
  .nothing-found__title {
    width: calc(100% - 40px * 2);
  }
}

@media screen and (max-width: 525px) {
  .nothing-found__title {
    font: 400 30px/34px 'Roboto Slab';
    width: calc(100% - 16px * 2);
  }
}